.book {
    padding: 20px;
    border: 1px solid grey;
    display: flex;
}

.book__thumbnail {
    width: 130px;
    height: 100%;
    margin-right: 25px;
    flex-basis: 1;
}

.book__details {
    text-align: left;
    flex-basis: 3;
}

.book__details h2 {
    margin-top: 0;
}

.book__preview_link:link, .book__preview_link:visited, .book__preview_link:hover, .book__preview_link:active {
    color: teal;
    text-decoration: none;
}

.book__preview_link:hover {
    color: tomato;
    font-weight: bold;
}